#FontSelector {
    font-size: 1.5rem;
    padding: 0.3rem;
    margin-bottom: 0.6rem;
    box-sizing: border-box;
}

#Checker {
    width: 100%;
    font-size: 64px;
    padding: 1.2rem;
    box-sizing: border-box;
}

#Checker.colored {
    background-color: #ffffff;
    transition-property: all;
}

#Checker:focus {
    outline: none;
    box-shadow: 0 0 5px inset #00d0ff;
}

#Checker::selection {
    background: transparent;
    text-shadow: 3px 3px 3px #00d0ff;
}

#Checker::placeholder {
    font-style: italic;
    opacity: 0.6;
}

button {
    font-size: 2rem;
    padding: auto;
    margin: 0.2rem;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 300ms;
}

button:hover {
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #00449d;
    color: white;
    cursor: pointer;
}

#LetterButtons {
    gap: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.6em, 1fr));
    font-size: var(--target-button--font-size);
    padding: 4px;
}

#LetterButtons button {
    margin: 1px;
    padding: 0;
    text-align: center;
    font-size: var(--target-button--font-size);
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#LetterButtons button.colored {
    background-color: #ffffff;
    transition-property: all;
    transition-duration: 300ms;
}

#LetterButtons button.colored:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.3);
    box-shadow: 0 0 10px #00d0ff;
}

.rtl {
    direction: rtl;
    text-align: right;
}